<section class="section alt" id="promo">
  <div class="container">
    <div class="carousel slide span7" id="myCarousel">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <div class="row-fluid">
            <div class="span12">
              <div class="hero-unit pull-center">
                <h1>Comunique-se com seus Alunos</h1>
                <p>Envie atividades, notifique mudanças no calendário, envie lembretes sobre provas e trabalhos, mande e-mail para toda a turma.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row-fluid">
            <div class="span12">
              <div class="hero-unit pull-center">
                <h1>Interaja com a Turma</h1>
                <p>Receba e responda dúvidas, envie artigos e textos on-line, engaje seus alunos tranzendo conteúdo interativo. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" data-slide="prev" href="#myCarousel">&lsaquo;</a>
      <a class="carousel-control right" data-slide="next" href="#myCarousel">&rsaquo;</a>
    </div>
    <div class="span4">
      <div class="well row-fluid">
        <h3>
          Faça seu cadastro
        </h3>
        <%= render "teachers/teacher_form" %>
      </div>
    </div>
  </div>
</section>