<section class="section alt" id="">
  <div class="container">
    <div class="modal modal-login">
      <div class="well">
        <%= render "enrolled_emails/enrolled_email_form" %>
        </div>
    </div>
  </div>
</section>
