<div class="span9">
  <article class="blog-post">
    <header class="row-fluid blog-header">
      <h2 class="span2">
        <% if current_showing == :student_list %>
          Alunos
        <% else %>
          <a href="">Alunos</a>
        <% end %>
      </h2>
      <h2 class="span2">
        <% if current_showing == :message_list %>
          Mensagens
        <% else %>
          <a href="">Mensagens</a>
        <% end %>
      </h2>
    </header>
    <%= yield :show_content %>
  </article>
</div>