<div class="span9">
  <article class="blog-post">
    <header class="row-fluid blog-header">
      <h2 class="span2">
        <% if current_showing == :student_list %>
          Alunos
        <% else %>
        <%= link_to "Alunos", students_classroom_path(@classroom) %>
        <% end %>
      </h2>
      <% if false %>
      <h2 class="span2">
        <% if current_showing == :messages %>
          Mensagens
        <% else %>
          <%= link_to "Mensagens", messages_classroom_path(@classroom) %>
        <% end %>
      </h2>
      <% end %>
    </header>
    <%= yield :show_content %>
  </article>
</div>