<% content_for :show_content do %>
  <ul class="unstyled">
    <div class="row-fluid">
      <%= link_to "Adicionar", edit_classroom_path(@classroom) %>
    </div>
    <hr>
    <%= render @classroom.enrolled_emails.order("confirmed", "LOWER(name)") %>
  </ul>
<% end %>

<%= render partial: "classroom_show/base_classroom_page", locals: { manager: true, current_showing: :student_list }%>
