<section class="section alt" id="">
  <div class="container">
    <div class="modal modal-login">
      <div class="well">
        <%= yield :form_content %>
        </div>
    </div>
  </div>
</section>
