<section class="section">
  <div class="container">
    <div class="row-fluid">
      <aside class="span3 sidebar">
        <div class="sidebar-widget">
          <h2 class="sidebar-header">
            <%= @classroom.name %>
          </h2>
          <ul class="unstyled">
            <li>
              <h3>
                Professor: <%= link_to @classroom.index.indexable.full_name, indexable_page_path(@classroom.index.slug) %>
              </h3>
              <h4>
                Alunos nesta turma: <%= @classroom.enrolled_emails.count %>
              </h4>
            </li>
          </ul>
        </div>
      </aside>
      <%= yield :content %>
    </div>
  </div>
</section>