<div class="span4">
  <article class="blog-post">
    <header class="blog-header">
      <h2>
        Se inscreva nesta turma
      </h2>
    </header>
    <%= render "enrolled_emails/enrolled_email_form" %>
  </article>
</div>
<div class="span5">
  <article class="blog-post">
    <header class="blog-header">
      <h2>
        Pergunte ao professor
      </h2>
    </header>
    <%= render partial: "messages/enrolled_email_classroom_form", locals: { classroom: @classroom } %>
  </article>
</div>