<li>
  <div class="row-fluid ">
      <div class="span5">
        de: <b><%= get_message_sender_name(message) %></b> <br>
        para: <b><%= get_message_receiver_name(message) %></b>
      </div>
      <div class="span7">
        <%= link_to message.message[0..50] + "...", link_to_message(message) %>
      </div>
      <% if false %>
      <div class="span3 ">
        <%= link_to "marcar como lida", nil, style: "color: green" %>
      </div>
      <% end %>
  </div>
  <hr>
</li>