<p>Bem vindo!</p>

<p>Para continuar utilizando o Clateca você precisa confirmar o seu email através do link abaixo:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
