<p>Olá,</p>

<p>A troca da sua senha foi requisitada. Para confirmar, basta clicar no link abaixo:</p>

<p><%= link_to 'trocar senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não requisitou este serviço, por favor ignore esta mensagem.</p>
<p>Sua senha não será modificada até que você clique no link deste email e faça a troca</p>
