<section class="section">
  <div class="container">
    <% if defined? manager and manager %>
      <span class="pull-right">
        divulgue o seu link: <%= link_to "#{indexable_page_path(@index.slug, :only_path => false)}", indexable_page_path(@index.slug, :only_path => false) %>
      </span>
    <% end %>
    <div class="row-fluid">
      <aside class="span3 sidebar">
        <div class="sidebar-widget">
          <h2 class="sidebar-header"><%= @indexable.full_name %></h2>
          <ul class="unstyled">
            <% if defined? manager and manager %> 
              <li>
                <h4>
                  <%= link_to "minhas informações", edit_teacher_path %>
                </h4>
              </li>
            <% end %>
          </ul>
        </div>
      </aside>
      <div class="span9">
        <article class="blog-post">
          <header class="blog-header">
            <h2>
              Turmas
            </h2>
          </header>
          <ul class="unstyled">
            <%= render partial: "classrooms/classroom", collection: @index.classrooms, locals: { manager: manager } %>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>