<section class="section alt">
  <div class="container">
    <div class="modal modal-login">
      <div class="well">
        <h3 class=""><small>Professor:</small> <%= @indexable.full_name %></h3>
        <h2><small>Turmas</small></h2>
        <ul class="unstyled">
          <%= render partial: "indices_show/classroom", collection: @index.classrooms %>
        </ul>
      </div>
    </div>
  </div>
</section>
