@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.separate {
    border-right: 1px solid #e3e3e3;
}

#login_box {
    padding: 30px;
}

.center-page {
  vertical-align: middle;
  display: inline
}

input, textarea, select, .uneditable-input {
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}